{% include 'adminheader.html' %}

  <section style="background: url(/static/images/b2.jpg) center center no-repeat;
  background-size:cover;
  background-attachment: fixed;
  color: #cfcfcf;height: auto;
        margin-top:80px;" id="home">
       <div class="overlay">
           <div class="container">
               <div class="row">
<center>
	<form method="post">
		{% if data['updater'] %}
		<h1>UPDATE SUBCATEGORY</h1>
		
		<table class="table" style="width:  700px">
		<tr>
			<th>SUBCATEGORY</th>
			<td><input type="text" name="subcat"  class="form-control" value="{{data['updater'][0]['subcategory']}}"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" name="update" value="UPDATE" class="btn btn-primary"></td>
		</tr>
	</table>


		{% else %}


	
		<h1>MANAGE SUBCATEGORIES OF -{{data['cat']}}</h1>
 
		<table class="table" style="width:  700px">
		<tr>
			<th>SUBCATEGORY</th>
			<td><input type="text" name="subcat"  class="form-control"></td>
		</tr>
		
		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" value="ADD" class="btn btn-primary"></td>
		</tr>


		</table>


		{% if data['subcategory'] %}
		<h1>SUBCATEGORIES ADDED</h1>
		<table class="table" width="600px">
			<tr>
				<th>SL.NO</th>
				<th>SUBCATEGORY</th>
				<th>UPDATE</th>
				
			</tr>
			{% for row in data['subcategory'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{ row['subcategory'] }}</td>
				<td><a href="?action=update&subid={{row['subcategory_id']}}&id={{data['id']}}&cat={{data['cat']}}" class="btn btn-warning">UPDATE</a></td>
				{% if row['status']=='inactive' %}
				<td><a href="?action=active&subid={{ row['subcategory_id'] }}&id={{data['id']}}&cat={{data['cat']}}" class="btn btn-danger" >ACTIVE</a></td>
				{% else  %}
				<td><a href="?action=inactive&subid={{ row['subcategory_id'] }}&id={{data['id']}}&cat={{data['cat']}}" class="btn btn-danger" >INACTIVE</a></td>
				
				{% endif %}
				
			</tr>
			{% endfor%}
		</table>
		{% else %}
		<h2>NO SUBCATEGORIES ADDED</h2>
		{% endif %}
		{% endif %}
	</form>
</center>
       </div>
           </div>
        
       </div>  
      
   </section>
{% include 'footer.html' %}