{% include 'adminheader.html' %}

  <section style="background: url(/static/images/b2.jpg) center center no-repeat;
  background-size:cover;
  background-attachment: fixed;
  color: #cfcfcf;height: auto;
        margin-top:80px;" id="home">
       <div class="overlay">
           <div class="container">
               <div class="row">
<center>
	<form method="post">
		{% if data['updater'] %}
		<h1>UPDATE STAFF DETAILS</h1>



		<table class="table" style="width:  700px">
		<tr>
			<th>FIRST NAME</th>
			<td><input type="text" name="fname"  class="form-control" value="{{data['updater'][0]['firstname']}}"></td>
		</tr>
		<tr>
			<th>LAST NAME</th>
			<td><input type="text" name="lname"  class="form-control" value="{{data['updater'][0]['lastname']}}">
			
		</tr>
		<tr>
			<th>PLACE</th>
			<td><input type="text" name="place"  class="form-control" value="{{data['updater'][0]['place']}}"></td>
		</tr>
		<tr>
			<th>PHONE</th>
			<td><input type="text" name="phone"  class="form-control" value="{{data['updater'][0]['phone']}}"></td>
		</tr>
		<tr>
			<th>EMAIL</th>
			<td>
			<input type="email" name="email" pattern=".+@gmail\.com" class="form-control" value="{{data['updater'][0]['email']}}"></td>
		</tr>
		<
		<tr>
			<td colspan="2" align="center"><input type="submit" name="update" value="UPDATE" class="btn btn-primary"></td>
		</tr>
	</table>




		{% else %}

		<h1>MANAGE STAFF</h1>

		<table class="table" style="width:  700px">
		<tr>
			<th>FIRST NAME</th>
			<td><input type="text" name="fname" required class="form-control"></td>
		</tr>
		<tr>
			<th>LAST NAME</th>
			<td><input type="text" name="lname" required class="form-control"></td>
		</tr>
		<tr>
			<th>PLACE</th>
			<td><input type="text" name="place" required class="form-control"></td>
		</tr>
		<tr>
			<th>PHONE</th>
			<td><input type="text" name="phone" required class="form-control"></td>
		</tr>
		<tr>
			<th>EMAIL</th>
			<td>
			<input type="email" name="email" required class="form-control" pattern=".+@gmail\.com"></td>
		</tr>
		
	
		<tr>
			<th>PASSWORD</th>
			<td><input type="password" name="password" required minlength="8" placeholder="Password Must Be Atleast 8 Charecter" class="form-control"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" value="register" class="btn btn-primary"></td>
		</tr>
	</table>



		{% if data['staff'] %}
		<h1>STAFFS ADDED IN OUR SYSTEM</h1>
		<table class="table" width="600px">
			<tr>
				<th>STAFF NAME</th>
				<th>PLACE</th>
				<th>PHONE</th>
				<th>EMAIL</th>
				<th>DESIGNATION</th>

			</tr>
			{% for row in data['staff'] %}
			<tr>
				<td>{{ row['firstname'] }} {{ row['lastname'] }}</td>
				<td>{{row ['place']}}</td>
				<td>{{ row['phone']}}</td>
				<td>{{row['email']}}</td>
				
				<td><a href="?action=update&id={{ row['staff_id'] }}" class="btn btn-warning">UPDATE</a></td>
				{% if row['usertype']=='inactive' %}
				<td><a href="?action=active&id={{ row['username'] }}" class="btn btn-danger" >ACTIVE</a></td>
				{% else  %}
				<td><a href="?action=inactive&id={{ row['username'] }}" class="btn btn-danger" >INACTIVE</a></td>
				{% endif %}
			</tr>
			{% endfor%}
		</table>
		{% else %}
		<h2>NO STAFFS ADDED IN OUR SYSTEM</h2>
		{% endif %}
		{% endif %}
	</form>
</center>
          </div>
           </div>
      
       </div>  
      
   </section>
		   		
{% include 'footer.html' %}