<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
  <!-- <h1 id="head">Java script</h1>
 <form method="post" id="signupf">
  <table>
    <tr>
        <td>username</td>
        <td> <input type="text" id="input" placeholder="input" name="uname"></td>
        <label style="display: none;" id="invalid">Enter minimum number of Charecter</label>
    </tr>
    <tr>
        <td>password</td>
        <td><input type="text" id="output" placeholder="output" name="password"></td>
    </tr>
    <tr>
        <td>call another function</td>
        <td><input type="text"  id="callfun"></td>
    </tr>
    <tr>
        <td colspan="2"> <button  id="btn">Click me</button></td>
      
    </tr>
  </table>
</form>
 <div style="width: 200px;height: 200px;background-color: rgb(255, 0, 0);" id="box"></div> -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"> </script>
  <script>
    $(document).ready(function(){
        $('#btn').click(function(){
            alert("heyyy bro")
            console.log("hey")
            $(this).css({background:'red'})
            $('#box').fadeToggle(500)
            $('#invalid').show()
        })
        $('#signupf').validate({
            rules:{
                uname:{
                    required:true,
                    minlength:4,
                }
            }
        })

    })

    
  </script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <p>Jesus, also known as Jesus Christ or simply Christ, is a central figure in Christianity and is considered by believers to be the son of God and the savior of humanity. The life and teachings of Jesus are primarily documented in the New Testament of the Bible, which includes the Gospels of Matthew, Mark, Luke, and John.

            According to Christian belief, Jesus was born in Bethlehem in what is now modern-day Israel, around 4 to 6 B.C. His birth is widely celebrated as Christmas. The narratives about Jesus' life include his teachings, miracles, crucifixion, and resurrection. Here are some key aspects of the life and teachings of Jesus:
        </p>
        
    </div>
    <div class="col-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <p>Jesus, also known as Jesus Christ or simply Christ, is a central figure in Christianity and is considered by believers to be the son of God and the savior of humanity. The life and teachings of Jesus are primarily documented in the New Testament of the Bible, which includes the Gospels of Matthew, Mark, Luke, and John.

            According to Christian belief, Jesus was born in Bethlehem in what is now modern-day Israel, around 4 to 6 B.C. His birth is widely celebrated as Christmas. The narratives about Jesus' life include his teachings, miracles, crucifixion, and resurrection. Here are some key aspects of the life and teachings of Jesus:
        </p>
        
    </div>
    <div class="col-3 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <p>Jesus, also known as Jesus Christ or simply Christ, is a central figure in Christianity and is considered by believers to be the son of God and the savior of humanity. The life and teachings of Jesus are primarily documented in the New Testament of the Bible, which includes the Gospels of Matthew, Mark, Luke, and John.

            According to Christian belief, Jesus was born in Bethlehem in what is now modern-day Israel, around 4 to 6 B.C. His birth is widely celebrated as Christmas. The narratives about Jesus' life include his teachings, miracles, crucifixion, and resurrection. Here are some key aspects of the life and teachings of Jesus:
        </p>
        
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <p>Jesus, also known as Jesus Christ or simply Christ, is a central figure in Christianity and is considered by believers to be the son of God and the savior of humanity. The life and teachings of Jesus are primarily documented in the New Testament of the Bible, which includes the Gospels of Matthew, Mark, Luke, and John.

            According to Christian belief, Jesus was born in Bethlehem in what is now modern-day Israel, around 4 to 6 B.C. His birth is widely celebrated as Christmas. The narratives about Jesus' life include his teachings, miracles, crucifixion, and resurrection. Here are some key aspects of the life and teachings of Jesus:
        </p>
        
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <p>Jesus, also known as Jesus Christ or simply Christ, is a central figure in Christianity and is considered by believers to be the son of God and the savior of humanity. The life and teachings of Jesus are primarily documented in the New Testament of the Bible, which includes the Gospels of Matthew, Mark, Luke, and John.

            According to Christian belief, Jesus was born in Bethlehem in what is now modern-day Israel, around 4 to 6 B.C. His birth is widely celebrated as Christmas. The narratives about Jesus' life include his teachings, miracles, crucifixion, and resurrection. Here are some key aspects of the life and teachings of Jesus:
        </p>
        
    </div>
   
  </div>
  <div class="row">
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <p>Jesus, also known as Jesus Christ or simply Christ, is a central figure in Christianity and is considered by believers to be the son of God and the savior of humanity. The life and teachings of Jesus are primarily documented in the New Testament of the Bible, which includes the Gospels of Matthew, Mark, Luke, and John.

            According to Christian belief, Jesus was born in Bethlehem in what is now modern-day Israel, around 4 to 6 B.C. His birth is widely celebrated as Christmas. The narratives about Jesus' life include his teachings, miracles, crucifixion, and resurrection. Here are some key aspects of the life and teachings of Jesus:
        </p>
        
    </div>
    
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>


</body>
</html>