{% include 'publicheader.html' %}

  <section style="background: url(/static/images/b1.jpg) center center no-repeat;
  background-size:cover;
  background-attachment: fixed;
  color: #cfcfcf;height: auto;
        margin-top:80px;" id="home">
       <div class="overlay">
           <div class="container">
               <div class="row">
<center>

	<form method="post">
	{% if data['chp'] %}


	<h1 align="center">CHANGE PASSWORD</h1>
<table class="table" style="width: 400px">
<tr>
	<th>PASSWORD: </th>
	<td><input type="text" name="p"  class="form-control"></td>
</tr>

<tr>
	<th>CONFIRM PASSWORD</th>
	<td><input type="text" name="cp" class="form-control"></td>
</tr>
<input type="text" name="uname" value="{{data['chp']}}" hidden>
<tr>
	<td colspan="2" align="center"><input type="submit" name="update" value="UPDATE" class="btn btn-info"></td>
</tr>
</table>


{% else %}
<H1>OTP VERIFICATION</H1>

<table class="table" style="width: 500px">
	<tr>
		<th>ENTER OTP</th>
		<td><input type="text" name="otp" class="form-control"></td>
	</tr>
	
	<tr>
		<td colspan="2" align="center"><input type="submit" name="submit" value="SEND" class="btn btn-primary"></td>
	</tr>
</table>

</form>
{% endif %}
</center>
                            
               </div>
           </div>
           <br><br><br><br><br><br><br><br><br>
       </div>  
      
   </section>

{% include 'footer.html' %}